<section id="section{{ sectionno }}" class="mod-aanpak bg-white">
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1 col-xl-8 offset-xl-2 text-center">
				<br><br>
				<h6 class="sub mb-0"> Aanpak </h6>
				{% if item.titel %}
					<h2> {{ item.titel }} </h2>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="wrap">
		<div class="content mb-5 mb-lg-0">
			<div class="container">
				<div class="row g-5">
					<div class="col-lg-6">
						<div class="space-right">
							{% if item.tekst %}
								<p> {{ item.tekst }} </p>
							{% endif %}		
							{% if item.link %}
								<div class="text-center text-lg-start">
									<a class="btn btn-primary" href="{{ item.link.url }}" target="{{ item.link.target }}">{{ item.link.title }}</a>
								</div>
							{% endif %}		
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="image-holder">
			<div class="image" style="background-image: url({{ Image(item.afbeelding).src }})"></div>
		</div>
		<div class="dots">
			<a class="dot dot-1" data-bs-toggle="popover" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?"> </a>
			<a class="dot dot-2" data-bs-toggle="popover" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?"> </a>
			<a class="dot dot-3" data-bs-toggle="popover" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?"> </a>
		</div>
	</div>
</section>