<section id="section{{ sectionno }}" class="mod-content {{ item.achtergrond }}">
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1 col-xl-8 offset-xl-2 text-center">
				{% if item.subtitel %}
					<h6 class="sub mb-2"> {{ item.subtitel }} </h6>
				{% endif %}
				{% if item.titel %}
					<h2> {{ item.titel }} </h2>
				{% endif %}
				{% if item.tekst %}
					<p> {{ item.tekst }} </p>
				{% endif %}
			</div>
		</div>
		
		{% if item.kolom %}
			<div class="row g-5">
			
				{% for kolom in item.kolom %}
					<div class="col-md">
						<div class="kolom {{ kolom.achtergrond }} {% if kolom.achtergrond != 'bg-transparent' %}p-4 {% endif %}">
							<div data-mh>
								{% if kolom.titel %}
									<h3 class="mb-2 {% if kolom.achtergrond != 'bg-transparent' %}h4{% endif %}""> {{ kolom.titel }} </h3>
								{% endif %}
								{% if kolom.tekst %}
									<p> {{ kolom.tekst }} </p>
								{% endif %}
								{% if kolom.icoon %}
									<br>
									<div class="row g-5">
									{% for image in kolom.icoon %}
										<div class="col-6 col-sm text-center">
											<img src="{{ Image(image) }}" alt="{{ p.alt }}" /> 
										</div>
									{% endfor %} 
									</div>
								{% endif %}
								<br>
							</div>
							{% if kolom.link %}
								<a class="btn btn-primary" href="{{ kolom.link.url }}" target="{{ kolom.link.target }}">{{ kolom.link.title }}</a>
							{% endif %}
							{% if kolom.download %}
								<a class="btn btn-primary" href="{{ kolom.download.url }}" target="{{ kolom.download.target }}"><i class="fas fa-download"></i> {{ kolom.download.title }} </a>
							{% endif %}
							{% if kolom.sliderblok %}
								<div class="js-slick-sliderblok">
									{% for slide in kolom.sliderblok %}
										<div class="item text-center">
											{% if slide.subtitel %}
												<p> {{ slide.subtitel }} </p>
											{% endif %}
											{% if slide.titel %}
												<h5> {{ slide.titel }} </h5>
											{% endif %}
											{% if slide.tekst %}
												<p> {{ slide.tekst }} </p>
											{% endif %}
										</div>
									{% endfor %}
								</div>
							{% endif %}
						</div>
					</div>
				{% endfor %}
				
			</div>
		{% endif %}
    </div>
</section>