<section class="strook-referenties">
	{% if item.kleur_afronding_links_boven %}
		<svg class="corner-rounded-top-left" width="154" height="156" viewBox="0 0 154 156" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M-2.12696 155.541L-2.12695 0L153.414 6.79891e-06C67.5111 3.04397e-06 -2.12696 69.638 -2.12696 155.541Z" fill="{{ item.kleur_afronding_links_boven }}"/>
		</svg>
	{% endif %}
	
	{% if item.kleur_afronding_links_onder %}
		<svg class="corner-rounded-bottom-left" width="156" height="156" viewBox="0 0 156 156" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M-0.0781318 0.084137L-0.078125 155.625L155.463 155.625C69.5599 155.625 -0.078128 85.987 -0.0781318 0.084137Z" fill="{{ item.kleur_afronding_links_onder }}"/>
		</svg>
	{% endif %}
	
	<div class="container">
		{% if item.titel %}
			<h2 class="mb-4 mb-md-5 d-block text-center"> {{ item.titel }} </h2>
		{% endif %}
		<div class="slick-slider">
			{% for ref in item.referenties %}
				<div class="card bg-greenlightest referentie-block">
					<div class="card-body">
						{% if ref.afbeelding %}
							<div class="image" style="background-image: url('{{ Image(ref.afbeelding).src }}');"></div>
						{% endif %}
						<div data-mh>
							<div class="text-center">
								{% if ref.naam %}
									<h4>{{ ref.naam }}</h4>
								{% endif %}
								{% if ref.label %}
									<div class="mb-2">{{ ref.subtitel }}</div>
								{% endif %}
								{% if ref.label %}
									<div class="badge bg-yellow text-dark"> {{ ref.label }}</div>
								{% endif %}
							</div>
							{% if ref.tekst %}
								<br>
								<p>{{ ref.tekst }}</p>
							{% endif %}
						</div>
						<br>
						<img class="m-auto" src="{{ theme.link }}/assets/img/quote.svg">
					</div>
				</div>
			{% endfor %}
		</div>
		
		<div class="text-center d-lg-none">
			<br>
			<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
				Ik wil meedoen
			</button>
		</div>
	</div>
</section>