<section id="section{{ sectionno }}" class="mod-videos {{ item.achtergrond }}">
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1 text-center">
				{% if item.titel %}
					<h2> {{ item.titel }} </h2>
				{% endif %}
			</div>
		</div>
		<div class="row mb-5">
			<div class="col-md-10 offset-md-1 col-xl-8 offset-xl-2 text-center">
				{% if item.lead %}
					<p> {{ item.lead }} </p>
				{% endif %}
			</div>
		</div>
		{% for video in item.videos %}
			<div class="row mb-5">
				<div class="col-md-8 {% if loop.index is even %} {% else %} order-md-last {% endif %}">
					{% if video.vimeo %}
						<div class="video-container mb-4 md-mb-0">
							{{ video.vimeo }}
						</div>
					{% endif %}
				</div>
				<div class="col-md-4">
					{% if video.titel %}
						<h3 class="h4 text-greendark"> {{ video.titel }} </h3>
					{% endif %}
					{% if video.tekst %}
						<p> {{ video.tekst }} </p>
					{% endif %}
				</div>
				
			</div>
		{% endfor %}
	</div>
</section>