{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
		<section class="mod-archive logospacer">
			<div class="container">
				<div class="row text-center mb-5">
					<div class="col-md-10 offset-md-1 ">
						<h1 class="h2 mb-3 mt-3">{{ options.archief_project_titel }} <br> "{{ title }}"</h1>
					</div>
				</div>
				
				<div class="row mt-2 anime-fadein">
					{% for item in posts %}
						<div class="col-md-6 col-lg-4 mb-30 hider {% if loop.index > 0 and loop.index < 7 %}show{% endif %}">
							{% include ['tease.twig'] %}
						</div>
					{% endfor %}
				</div>
	
				<div class="text-center mt-4 mb-5">
					<button class="btn btn-primary js-laadmeer"> {{ options.laad_meer }} </button>
				</div>
			</div>
		</section>
	</article>
{% endblock %}