{% extends "base.twig" %}

{% block content %}
<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
    <section class="mod-archive logospacer">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-10 offset-md-1 ">
                    <h1 class="h2 mb-3 mt-3">{{ options.archief_thema_titel }}</h1>
                </div>
                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                    <p class="mb-5">{{ options.archief_thema_tekst }}</p>

                    <div class="mod-searchinput mb-2 mb-md-4">
                        <form role="search" method="get" id="searchform" action="{{ site.url }}">
                            <div class="form-group">
                                <label class="d-none" for="s">{{ options.zoeken }} </label>
                                <input data-swplive="true" aria-controls=""class="form-control" type="text" value="" name="s" id="s" placeholder="{{ __('Typ je zoekwoord in', 'timber-foundation')|e }}">
                                <div class="searchicon">
                                    <input type="submit" id="searchsubmit" value="{{ __('zoeken', 'timber-foundation')|e }}" />
                                    <i class="fas fa-search"></i>
                                </div>
                            </div>
                        </form>
                    </div>
                    {% if categories %}
                        <div class="categories-mobile d-lg-none">
                            <div class="mb-2 text-center"> {{ options.of }} </div>
                            <div class="form-select-holder mb-5">
                                <select class="form-select w-100" onchange="document.location.href = this.value">
                                    <option disabled selected> {{ options.selecteer_een_thema }} </option>
                                    <option value="/themas">{{ options.alle }}</option>
                                    {% for item in categories %}
                                        {% if item.verbergen_in_website %} {% else %}
                                            <option value="{{ item.link }}">{{ item.title }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row mt-2 mt-lg-5 anime-fadein">
                {% for item in posts %}
                    {% if loop.index == 3 %}
                        <div class="col-md-6 col-lg-4 mb-30 d-none d-lg-block">
                            <div class="card bg-yellow mb-0" data-mh>
                                <div class="card-body">
                                    <h3 class="h4 mb-3"> {{ item.themas_titel }}</h3>	
                                    <a href="/themas" class="btn btn-light mb-1 {% if current_category == '' %} btn-primary {% endif %}">{{ options.alle }}</a>	
                                    {% for item in categories %}
                                        <div class="w-100">
                                            <a href="{{ item.link }}" class="btn btn-light mb-1 {% if item.id == current_category %} btn-primary {% endif %}">{{ item.title }}</a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-md-6 col-lg-4 mb-30 hider {% if loop.index > 0 and loop.index < 6 %}show{% endif %}">
                        {% include ['tease.twig'] %}
                    </div>   
                {% endfor %}
                {% if posts|length == 1 or posts|length == 2 %}
                    <div class="col-md-6 col-lg-4 mb-30 d-none d-lg-block">
                        <div class="card bg-yellow mb-0" data-mh>
                            <div class="card-body">
                                <h3 class="h4 mb-3"> {{ item.themas_titel }}</h3>	
                                <a href="/themas" class="btn btn-light mb-1 {% if current_category == '' %} btn-primary {% endif %}">{{ options.alle }}</a>	
                                {% for item in categories %}
                                    <div class="w-100">
                                        <a href="{{ item.link }}" class="btn btn-light mb-1 {% if item.id == current_category %} btn-primary {% endif %}">{{ item.title }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            
            {% if posts|length > 6 %}
                <div class="text-center mt-4 mb-5">
                    <button class="btn btn-primary js-laadmeer"> {{ options.laad_meer }} </button>
                </div>
            {% endif %}
        </div>
    </section>
</article>
{% endblock %}