<header class="header {{ headertextcolor }} d-flex align-items-center">
	<div class="container-fluid"> 
		<div class="row g-2">
			<div class="col d-flex align-items-center">
				<a class="header-brand" href="{{ site.url }}" rel="home">
					<span class="d-none">{{ site.name }}</span>
				</a>
			</div>
			<div class="col-auto d-none d-xl-flex align-items-start">
				{% include "menu.twig" with {'items': menu.get_items} %}
			</div>
			{% if options.header_link or options.landen|length > 1 %}
				<div class="col-auto d-none d-xl-flex align-items-start">
					<div class="service">
						{% if options.header_link %}
							<a class="btn btn-primary" href="{{ options.header_link.url }}" target="{{ options.header_link.target }}">{{ options.header_link.title }}</a>
						{% endif %}
						{% if options.landen %}
							<div class="landen-switch">
								<div class="switcher">
									{% for land in options.landen %}
										{% if land.actief %} <img src="{{ Image(land.vlag).src }}" class="vlag w-auto" height="20"> {% endif %}
									{% endfor %}
									<div class="drop-down-holder">
										<div class="drop-down">
											<ul class="list-unstyled">
												{% for land in options.landen %}
													<li>
														<a href="{{ land.link.url }}">
															<img src="{{ Image(land.vlag).src }}" class="vlag" height="20"> 
														</a>
													</li>
												{% endfor %}
											</ul>
										</div>
									</div>
								</div>
							</div>
						{% endif %}
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</header>
<a id="mobilemenubtn" class="btn-menu d-block d-xl-none immune js-menu ">
	<div class="lines">
		<span></span>
		<span></span>
		<span></span>
	</div>
</a>